html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
}

* {
  font-size: 62.5%;
  font-family: 'Rubik';
}

body {
  background-color: #252b31;
}

nav {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.nav-logo-container h3 {
  font-size: 4rem;
  color: #a2a2a2;
}

.nav-links-container {
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid #244e63;
  border-radius: 3px;
  padding: 2% 5%;
  flex-basis: 20%;
  text-align: center;
  color: #000;
  font-size: 1.5rem;
}

.nav-link:hover {
  background-color: #f8f8ff;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.bio-container {
  background-color: teal;
  flex-basis: 85%;
}

.bio-container img {
  width: 100%;
}

.image-container {
  width: 100%;
  height: 50vh;
  background-image: url('https://images.unsplash.com/photo-1529101091764-c3526daf38fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2982&q=80');
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container h1 {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 2%;
}

.image-container button {
  border: 1px solid white;
  background: ghostwhite;
  box-shadow: 0 0 5px 2px #9c9c9c;
  border-radius: 3px;
  padding: 1.5% 3%;
  width: 15%;
}

.image-container a {
  font-size: 1.4rem;
}

.image-container button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 0 #fff;
  transition: 300ms;
}

.projects-section {
  margin-bottom: 2%;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  flex-basis: 31%;
  margin-bottom: 2%;
  text-align: center;
}

.project img {
  width: 100%;
}

.project p {
  font-size: 1.8rem;
}

.footer {
  height: 12vh;
  background: #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer button {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 1% 2%;
  margin-bottom: 1%;
}

.footer button:hover {
  background-color: ghostwhite;
  cursor: pointer;
}

.footer a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

.social-container {
  /* background-color: red; */
  width: 10%;
  display: flex;
  justify-content: space-evenly;
}

.social-container i {
  font-size: 2.2rem;
  color: #fff;
  margin-right: 2%;
}
